header {
    background: var(--primary-color);
    color: #fff;
    padding: 26px 15px;
}

    .lms-admin-logo h1 {
        font-size: 25px;
        text-transform: uppercase;
    }

#lms-admin {

}

    .lms-admin-inner {
        display: flex;
        min-height: calc(100vh - 82px);
    }

        .lms-admin-sidebar {
            width: 20%;
            background: var(--primary-color);
            padding: 0 0 30px;
        }

            .lms-admin-sidebar-header {
                text-align: center;
                background: #f7f7f7;
                padding: 46px 15px;
                color: #666;
            }

                .lms-admin-sidebar-header i {
                    font-size: 60px;
                    margin-bottom: 8px;
                }

                .lms-admin-sidebar-header h3 {
                    font-size: 27px;
                    /* text-transform: uppercase; */
                    font-weight: 300;
                }

            .lms-admin-navs {
                
            }

                .lms-nav-btn {
                    appearance: none;
                    outline: none;
                    border: none;
                    background: var(--primary-color);
                    display: block;
                    padding: 20px 15px;
                    width: 100%;
                    color: #fff;
                    font-weight: 500;
                    font-size: 20px;
                    cursor: pointer;
                    text-align: left;
                    border-left: 3px solid var(--primary-color);
                    border-bottom: 1px solid #fff;
                    transition: var(--transition);
                }

                .lms-nav-btn.active,
                .lms-nav-btn:hover {
                    background: #fff;
                    color: var(--primary-color);
                    border-left: 3px solid var(--secondary-color);
                }

                    .lms-nav-btn i {
                        display: inline-block;
                        margin-right: 8px;
                    }

                    .lms-nav-btn i,
                    .lms-nav-btn span {
                        pointer-events: none;
                    }

        .lms-admin-content {
            width: 80%;
        }

            .lms-tabs-holder {
                height: 100%;
                padding: 60px 30px;
            }

                .lms-tab {
                    display: none;
                    height: 100%;
                }

                .lms-tab.active {
                    display: block;
                }

                    .lms-tab h3 {
                        font-size: 42px;
                        color: #666;
                        font-weight: 300;
                        text-transform: uppercase;
                        margin-bottom: 30px;
                        border-bottom: 1px solid var(--primary-color);
                        padding: 0 0 30px;
                    }

                    .lms-table-panel {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 35px;
                    }

                        .lms-quick-search-form {
                            display: inline-block;
                            width: 100%;
                            max-width: 500px;
                        }

                        .lms-quick-search-form .lms-field {
                            width: calc(100% - 115px);
                            margin: 0 10px 0 0;
                        }

                            .lms-quick-search-btn {
                                appearance: none;
                                outline: none;
                                border: none;
                                background: var(--primary-color);
                                color: #fff;
                                width: 100px;
                                font-size: 18px;
                                border-radius: 50px;
                                display: inline-block;
                                padding: 10px 0;
                                cursor: pointer;
                                transition: var(--transition);
                            }

                            .lms-quick-search-btn:hover {
                                background-color: var(--accent-color);
                            }

                            .lms-add-btn {
                                margin-right: 0;
                                background: var(--accent-color);
                                border-color: var(--accent-color);
                                color: #fff;
                            }

@media only screen and (max-width: 991px) {

    .lms-nav-btn span {
        display: none;
    }

    .lms-table-panel {
        display: block;
    }

    .lms-add-btn {
        margin: 30px auto 0;
        display: block;
    }

    .lms-nav-btn {
        text-align: center;
    }

    .lms-admin-sidebar-header h3 {
        display: none;
    }
}

@media only screen and (max-width: 480px) { 
    .lms-quick-search-btn {
        display: block;
        width: 100%;
    }

    .lms-quick-search-form .lms-field {
        width: 100%;
        margin-bottom: 20px;
    }

    .lms-admin-sidebar-header i {
        font-size: 30px;
    }

    .lms-tab h3 {
        font-size: 25px;
        padding: 0 0 12px;
    }
}

