/* 
==================================================

Presets

==================================================
*/

:root {
    --primary-color: #00b894;
    --secondary-color: #55efc4;
    --accent-color: #60a3bc;
    --danger: #ee5253;
    --warning: #fdcb6e;
    --dark: #303952;
    --primary-font: 'Roboto', sans-serif;
    --transition: all .4s ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
}


/* 
==================================================

Globals

==================================================
*/

.hidden {
    display: none !important;
}


/* forms */

.lms-form form {
    padding-bottom: 29px;
    position: relative;
}

.lms-field {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

    .lms-field input {
        -webkit-appearance: none;
        outline: none;
        border: 1px solid transparent;
        display: block;
        width: 100%;
        height: 50px;
        background-color: #f7f7f7;
        color: var(--primary-color);
        font-size: 16px;
        padding: 0 15px;
        border-radius: 50px;
    }

    .lms-field input::placeholder {
        color: var(--primary-color);
    }

.lms-btn {
    -webkit-appearance: none;
    outline: none;
    border: 1px solid var(--primary-color);
    display: inline-block;
    width: 199px;
    padding: 15px 0;
    border-radius: 50px;
    background: #fff;
    cursor: pointer;
    font-weight: 300;
    color: #666;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
}

.lms-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.lms-field-message {
    text-align: center;
    color: var(--danger);
    margin-top: 10px;
    display: none;
}

.lms-field-message.lms-message-show {
    display: block;
}

/* loader */
.lms-form-loader,
.lms-loader {
    height: 0;
    width: 0;
    padding: 9px;
    border: 3px solid #ccc;
    border-right-color: var(--primary-color);
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: unset;
    bottom: 0;
    display: none;
}

.lms-form-loader.loading,
.lms-loader.loading {
    display: block;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* table */
.lms-table {
    overflow: auto;
    text-align: left;
    min-height: 300px;
    position: relative;
}

    .lms-table table {
        width: 100%;
        border-collapse: collapse;
        min-width: 900px;
    }
 
        .lms-table thead, 
        .lms-table tbody {
            width: 100%;
        }

        .lms-table thead {
            border-bottom: 1px solid var(--primary-color);
        }

            .lms-table thead th {
                cursor: pointer;
                transition: var(--transition);
            }

            .lms-table thead th:not(:last-child):hover {
                background-color: var(--primary-color);
                color: #fff;
            }

            .lms-table tbody tr:nth-child(even) {
                background: #f7f7f7;
            }

                .lms-table tr {
                    width: 100%;
                }

                .lms-table th, 
                .lms-table td {
                    padding: 15px 8px;
                    color: #666;
                }

                .lms-table thead th,
                .lms-table thead td {
                    color: #000;
                }

                .lms-table-action {
                    appearance: none;
                    outline: none;
                    border: none;
                    background: #666;
                    color: #fff;
                    padding: 6px 14px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: var(--transition);
                }

                    .lms-table-action i {
                        pointer-events: none;
                    }

                .lms-table-delete {
                    background: var(--danger);
                }

                .lms-table-action:hover {
                    opacity: .80;
                }

            .lms-table .lms-loader {
                position: relative;
                margin: 30px auto 0;
            }

            .lms-table.loading .lms-loader {
                display: block;
            }

            .lms-table.loaded .lms-loader {
                display: none;
            }

            .lms-table-message {
                color: #666;
                text-align: center;
                padding: 10px 0;
                display: none;
            }

            .lms-table-message.active {
                display: block;
            }

/* modal */
.lms-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .40);
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition);
}

.lms-modal.active {
    opacity: 1;
    pointer-events: auto;
}

    .lms-modal-body {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 700px;
        background: #fff;
        border-radius: 20px;
        padding: 60px 30px;
        transition: var(--transition);
    }

    .active .lms-modal-body {
        top: 50%;
    }

        .lms-close-modal {
            appearance: none;
            outline: none;
            border: none;
            color: var(--primary-color);
            background: transparent;
            font-size: 37px;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 5;
            cursor: pointer;
            transition: var(--transition);
        }

            .lms-close-modal i {
                pointer-events: none;
            }

        .lms-close-modal:hover {
            color: var(--danger);
        }

        .lms-modal-header {
            text-align: center;
            margin-bottom: 30px;
        }        
    
            .lms-modal-header h3 {
                font-weight: 300;
                font-size: 42px;
                text-transform: uppercase;
                color: #666;
            }

            .lms-modal-form .lms-btn {
                margin: 0 auto;
                display: block;
            }