.lms-login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
}

    .lms-login-left, 
    .lms-login-right {
        width: 50%;
        position: relative;
    }

        .lms-login-banner  {
            position: relative;
            height: 100%;
        }

        .lms-login-banner::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--primary-color);
            z-index: 2;
            opacity: .80;
        }
        
            .lms-login-banner canvas {
                display: block;
                width: 100%;
                height: 100%;
            }

            .lms-login-banner img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(1);
            }

        .lms-login-banner-title-holder {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            z-index: 2;
            text-align: center;
            padding: 0 30px;
        }

            .lms-banner-title h1 {
                color: #fff;
                font-size: 53px;
                text-transform: uppercase;
                line-height: 1;
                font-weight: 700;
            }

                .lms-banner-title h1 span {
                    font-weight: 300;
                }

        .lms-login-form-holder {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            padding: 0 30px;
        } 

            .lms-login-form-content h3 {
                font-size: 30px;
                color: var(--primary-color);
                text-align: center;
                font-weight: 300;
                letter-spacing: .1em;
                margin-bottom: 60px;
            }

            .lms-form {
                max-width: 500px;
                margin: 0 auto;
            }

            .lms-form .lms-btn {
                margin: 0 auto;
                display: block;
            }

            